*.pyc
*.egg-info/
.ipynb_checkpoints/

# binary or results
*.png
*.bak
*.gic
.cache/
*.log
results/
data/
ssam_data/
*.mp4

# python datafile
*.npz
*.npy
*.pickle

# IDEs and editors
.project
.cproject
.settings/
.idea/
*.sublime-project
*.sublime-workspace
cmake-build*

