*.pyc
.ipynb_checkpoints/
*.png
*.bak
*.gic
.cache/

# python datafile
*.npz
*.npy
*.pickle

# IDEs and editors
.project
.cproject
.settings/
.idea/
*.sublime-project
*.sublime-workspace
cmake-build*
